/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

#app {
    max-width: 1080px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
}